.App {
  text-align: center;
}
.img{
  border:1px solid black;
}
.center{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.empTable-col{
  text-align: center;
}
.empTable,.empTable-col{
  border:1px solid black;
  border-collapse: collapse;
}
